@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;500;600;700;800&display=swap');
@import url('https://api.fontshare.com/v2/css?f[]=clash-display@400,500,600,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');



@keyframes slide {
  0% { transform: translateX(0%); }
  100% { transform: translateX(-50%); }
}
@keyframes slide-reverse {
  0% { transform: translateX(0%); }
  100% { transform: translateX(50%); }
}

.animate-slide {
  animation: slide 15s linear infinite;
}
.animate-slide-reverse {
  animation: slide-reverse 15s linear infinite;
}

/* Optional: Hide scrollbar for a cleaner look */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.marquee {
  display: flex;
  animation: marquee-scroll 10s linear infinite;
}

@keyframes marquee-scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}


@font-face {
  font-family: "Matter";
  src: url("/src/assets/fonts/Matter/Matter-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Matter";
  src: url("/src/assets/fonts/Matter/Matter-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Matter";
  src: url("/src/assets/fonts/Matter/Matter-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}


@font-face {
  font-family: "Gilroy";
  src: url("/src/assets/fonts/Gilroy/Gilroy-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src: url("/src/assets/fonts/Gilroy/Gilroy-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src: url("/src/assets/fonts/Gilroy/Gilroy-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src: url("/src/assets/fonts/Gilroy/Gilroy-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}

:root {
  --font-jakarta: 'Plus Jakarta Sans', sans-serif;
}

.font-clash {
  font-family: "Clash Display", sans-serif;
}

.font-dmsans {
  font-family: "DM Sans", sans-serif;
}

.font-poppins {
  font-family: "Poppins", sans-serif;
}
